<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>
<body>
    <h1>Datos de mi compi:</h1>
    <!-- con jinja yo voy a agregar logica a mi html y tambien poder conectar con esto mi front y mi back hacemos con esta sintaxis {{nombre}} con las dos llaves tanto para abrir como para cerrar-->
    <h2>Nombre: {{nombre}}</h2>
    <h2>Apellido: {{apellido}}</h2>

    <ul>
        <li>Nombre: {{nombre}}</li>
        <li>Apellido: {{apellido}}</li>
    </ul>

</body>
</html>